/* Layout styles -----------------------------------*/
@media (min-width: 620px) {

  .options-link {
      margin-left: 1em;
    }
  }
  
//   @media (min-width: 960px) {
//     // main {
//     //    column-count: 3;
//     // }
//   }
  
  /* styles */
  
  :root {
    --blue: #34495e;
    --green: #e74c3c;
    --yellow: #C9C243;
    --orange: #FFA644;
    --red: #3498db;
    --light-pink: #f7f5f5;
    --green:#00241c;
    --purple: #092679;
  }
  
  body {
    background-color: var(--blue);
    font-family: 'Ubuntu', sans-serif;
    color: #34495e;
    // font-family: 'Avenir', Helvetica, Arial, sans-serif;
    // -webkit-font-smoothing: antialiased;
    // -moz-osx-font-smoothing: grayscale;
    // color:white;
    // opacity: 1;
    // margin: 0;
    // padding: 0;
    // min-height: 100vh;
    // background: rgb(121,9,95);
    // background: linear-gradient(0deg, var(--purple) 20%, var(--green) 100%);
    @import "./table.css";
  }
  
  main {    
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  header {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 20px 0;
  }
  
  .title {
    font-size: 2.6em;
    text-align: center;
    color: white;
    margin-bottom: 20px
  }
  
  .figure-img {
    display: block;
    width: 100%;
    object: fit;
  }
  
  h2 {
    font-size: 1.4em;
    padding: 10px;
  }
  
  p {
    margin-bottom: 1em;
    padding: 0 10px;
  }
  
  .info-link {
    text-decoration: none;
    color: var(--green);
    padding: 10px;
    display: block;
  }
  
  .options {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    border-top: 3px solid var(--red);
    border-radius: 3px;
    background-color: white;
  }
  
  .options-link {
    text-decoration: none;
    font-size: 0.9em;
    color: var(--red);
    background-color: var(--light-pink);
    padding: 0.5em;
  }
  
  section {
    border-top: 3px solid var(--red);
    border-radius: 3px;
    background-color: white;
    margin-bottom: 20px;
    overflow: hidden;
  }
  
  .section-img {
    display: block;
    padding: 10px;
    margin: 0 auto;
  }
  
  .bigtitle {
    padding: 0;
  }
  
  .bigtitle-title {
    color: white;
    background-color: var(--red);
    margin-bottom: 10px;
  }
  .yearcolumn {
    display: grid;
    grid-gap: 10px;
    grid-auto-columns: minmax(10px, auto);
    grid-auto-flow: column;
  }
  .bigbottom-link {
    background-color: var(--green);
    color: white;
  }
  
  .profile {
    width: 80%;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  @media (min-width: 620px) {
    .options-link {
      font-size: 1.4em;
    }
  }