@import url(./table.css);
:root {
  --red: red;
  --black: black;
  --white: white;
  --light-maroon: #e10600;
}
body {
  background-color: var(--black);
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  opacity: 1;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}
.title {
  color: white;
  font-style: italic;
  font-size: 0.8em;
  line-height: 0em;
}
header {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 20px 0;
}
.logo {
  float: left;
  width: 33%;
}
.loader {
  font-size: 1.5em;
  text-align: center;
  font-style: italic;
  margin-top: 10%;
}
.season-list {
  line-height: 3em;
}
.season-list__link {
  color: var(--black);
  text-decoration: none;
  font-size: 0.9em;
  padding: 0.5em;
  text-align: center;
}
.season-list__active {
  background-color: var(--light-maroon);
  color: var(--black);
}
p {
  margin-bottom: 1em;
  padding: 0 10px;
}
.flag {
  width: 10%;
  position: relative;
  top: 7px;
}
section {
  border-top: 3px solid var(--white);
  border-bottom: 3px solid var(--white);
  border-radius: 3px;
  background-color: white;
  margin-bottom: 20px;
  overflow: hidden;
  color: black;
}
@media (min-width: 620px) {
  .logo {
    width: 15%;
  }
  .title {
    line-height: 2em;
    font-size: 1em;
  }
  .flag {
    width: 4%;
    top: 11px;
  }
  .season-list {
    display: grid;
    grid-gap: 10px;
    grid-auto-columns: minmax(10px, auto);
    grid-auto-flow: column;
    color: var(--black);
  }
  .season-list__link {
    margin-left: 1em;
    padding: 0.5em;
    font-size: 1.4em;
    line-height: 1em;
  }
}
